/* Gradient border animation */
.gradient-border {
  position: relative;
  border: none;
}
.gradient-border::before {
  content: '';
  position: absolute;
  inset: -4px;
  z-index: -1;
  background:white;
  background-size: 200%;
  border-radius: 14px;
  animation: gradientShift 4s ease infinite;
}
h2.text-3xl.font-extrabold.text-center.text-white.mb-6 {
    color: black;
}
input.w-full.px-4.py-3.bg-gray-700.text-white.border.border-gray-600.rounded-lg.focus\:outline-none.focus\:ring-2.focus\:ring-purple-500.placeholder-gray-400.transition-all {
    background: white;
    color: black;
}
.bg-purple-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(16 16 16);
}
@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}